$red: 242;
$green:242;
$blue:242;

a:link { color: red; }


body{
  margin-left: 50px;
  margin-right: 50px;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-family: 'Quicksand', sans-serif;
}

nav {
  margin-left: auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

li {
  margin-left: 16px;
  list-style: none;
  display: inline-block;
}

#photos{
  background-color: rgb($red, $green, $blue);
  text-align: center;
  margin: 0 auto;
  img{
  width: 500px;
  margin:0 auto;
  display:block;
}
}


#box2{
  background-color: rgb($red, $green, $blue);
  height: 300px;
  margin-top: 100px;
}

#explain{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .item1{
    width: 50%;
    height: 200px;
    font-family: 'Quicksand', sans-serif;
    p{
      font-size: 13px;
    }
  }
  .item2{
    font-family: 'Quicksand', sans-serif;
    width: 25%;
    height: 200px;
    p{
      font-size: 13px;
    }
  }
  .item3{
    font-family: 'Quicksand', sans-serif;
    height: 200px;
    p{
      font-size: 13px;
    }
  }
}

#myCanvasContainer{
  text-align: center;
  background-color: rgb(222, 205, 185);
  margin-top: 100px;
}

canvas#myCanvas{
  width: 700px;
  height: 700px;
  margin: 0;
}

#footer{
  background-color: rgb($red, $green, $blue);
  height: 100px;
  margin-top: 100px;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 30px;
}

.container{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-left: 100px;
        margin-right: 50px;
    .content{
      width: 40%;
      p{
        font-size: 13px;
      }
    }
    .sns{
      width: 30%;
    }
    .copyright{
      width: 30%;
    }
  }

  .test_span{
    color:green;
}
